@include typi-init;

body {
  @include font('body');
}

p {
  margin-top: vr(1);
  margin-bottom: vr(1);
  max-width: $text-max-width;
}

blockquote {
  font-size: $font-7-size;
  font-style: italic;
  max-width: $text-max-width;
}

ul,
ol {
  margin-top: vr(1);
  margin-bottom: vr(2);

  > li {
    margin-bottom: vr(.5);
  }
}

small {
  font-size: $font-9-size;
}
