<div class="sg-swatch" style="background-color: #{{color.hex}}"></div>
<dl class="sg-datalist sg-datalist--code sg-datalist--flat">
  <dt><span class="sg-datalist__label">SCSS</span></dt>
  <dd>{{color.varname}}</dd>
  <dt><span class="sg-datalist__label">HEX</span></dt>
  <dd>#{{color.hex}}</dd>
  <dt><span class="sg-datalist__label">RGB</span></dt>
  <dd>{{color.rgb}}</dd>
  <dt><span class="sg-datalist__label">CMYK</span></dt>
  <dd>{{color.cmyk}}</dd>
</dl>
