/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
#sg-patterns {
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 .5em;
}

.demo-animate {
  background: #DDDDDD;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.sg-colors > li {
  flex: auto;
  padding: .3em;
  margin: 0 .5em .5em 0;
  min-width: 5em;
  max-width: 14em;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
}

.sg-shades {
  list-style: none;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  padding: 0;
}

.sg-shades > li {
  display: grid;
  grid-template-columns: 4em 1fr;
  margin: 0;
  padding: .5em;
}

.sg-shades > li + li {
  border-top: 1px solid #DDDDDD;
}

.sg-swatch {
  display: block;
  height: 6em;
  margin-bottom: .3em;
  border-radius: 5px;
}

.sg-shades .sg-swatch {
  width: 4em;
  height: 2em;
  margin-bottom: 0;
}

.sg-swatch-check {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 6em;
}

.sg-swatch-check__group {
  display: grid;
  justify-self: center;
  grid-template-columns: 50% 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sg-swatch-check__item {
  align-self: end;
  text-align: center;
}

.sg-swatch-check__item:nth-child(1) {
  margin-right: 5px;
}

.sg-swatch-check__item::before {
  display: block;
  content: "A";
  height: 1em;
}

.sg-swatch-check__item--light::before {
  color: #FFFFFF;
}

.sg-swatch-check__item--dark::before {
  color: #000000;
}

.sg-swatch-check__item--small::before {
  font-size: 12px;
}

.sg-swatch-check__item--big::before {
  font-size: 18px;
}

.sg-swatch-check__item-label {
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 5px;
  font-size: .7em;
  text-transform: uppercase;
  text-align: center;
  padding: 2px 4px;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}

.sg-datalist {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 0;
  margin-bottom: 0;
}

.sg-datalist > * {
  margin: 0;
  padding: 0;
}

.sg-datalist--code > * {
  align-self: center;
}

.sg-datalist--flat {
  margin: 0;
  grid-template-columns: 4em 1fr 4em 1fr 4em 1fr 4em 1fr;
}

.sg-datalist > dt {
  text-align: right;
  padding-right: .5em;
}

.sg-datalist--code > dd {
  font-family: monospace;
  margin-left: 0;
}

.sg-datalist__label {
  text-transform: uppercase;
  padding: 2px 4px;
  font-size: .7em;
  color: #000000;
  background-color: #DDDDDD;
  border-radius: 5px;
}
