<dl class="sg-datalist">
  <dt><span class="sg-datalist__label">Heading</span></dt>
  <dd class="heading">{{headline.short}}</dd>
  <dt><span class="sg-datalist__label">Title</span></dt>
  <dd class="title">{{headline.short}}</dd>
  <dt><span class="sg-datalist__label">Subtitle</span></dt>
  <dd class="subtitle">{{headline.short}}</dd>
  <dt><span class="sg-datalist__label">Paragraph</span></dt>
  <dd>{{excerpt.short}}</dd>
  <dt><span class="sg-datalist__label">Small text</span></dt>
  <dd><small>{{excerpt.short}}</small></dd>
</dl>
