/*
 * This is the main file for the whole project.
 * It follows ITCSS-like structure, so be sure to know what you're doing
 * No style definitions should be made here, only `@import`
 */

/*
 * Tools: Default mixins and functions
 */
@import "neat";
@import "modularscale";
@import "typi";
@import "mixins/breakpoint";
@import "mixins/font";

/*
 * Settings: Global variables, config switches
 */
@import "settings/variables";
@import "settings/breakpoints";

/*
 * Generic: Ground-zero styles (normalize, reset, box-sizing)
 */
@import "normalize";

/*
 * Base: Unclassed HTML elements (type selectors)
 */
@import "base/text";
@import "base/headings";

/*
 * Objects: Cosmetic-free design patterns
 */

/*
 * Components: Designed components, chunks of UI
 */

/*
 * Trumps: Helpers and overrides
 */

