// brand colours
$color-black: #1C1F22;
$color-lime: #BEDB39;
$color-orange: #FF9800;
$color-red: #E84925;
$color-blue: #4682B4;

// shades of grey
$color-white: #FFFFFF;
$color-grey-light: #EDEDED;
$color-grey-mid: #808080;
$color-grey-dark: #333333;

// other colours
$color-error: #D9534F;
$color-notice: #00BFFF;
$color-success: #5CB85C;
