// typography
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Rokkitt:300,400');

$faces: (
  brand: (
    font-family: ('Helvetica Neue', 'sans-serif'),
    regular: 300,
    bold: 400,
    cap-height: .66
  ),
  body: (
    font-family: ('Roboto', 'sans-serif'),
    regular: 400,
    bold: 500,
    cap-height: .66
  ),
  heading: (
    font-family: ('Rokkitt', 'serif'),
    regular: 300,
    bold: 400,
    cap-height: .66
  ),
  monospace: (
    font-family: ('Menlo', 'monospace'),
    regular: 400,
    cap-height: .68
  )
);

$base-font-size: 16px;
$base-line-height: 1.4;

// modular scale

$modularscale: (
  base: $base-font-size,
  ratio: 1.2 // Major Thirds
);

// font sizes, 1 being the largest. see typi config below

$font-1-size: ms(7);
$font-2-size: ms(6);
$font-3-size: ms(5);
$font-4-size: ms(4);
$font-5-size: ms(3);
$font-6-size: ms(2);
$font-7-size: ms(1);
$font-8-size: $base-font-size;
$font-9-size: ms(-1);

// typi

$typi: (
  base: (
    null: ($base-font-size, $base-line-height),
    small: (18px),
    large: (20px)
  ),
  // Other font maps here
  heading: (
    null: ($font-3-size, 1.3),
    small: ($font-2-size, 1.3),
    large: ($font-1-size, 1.3)
  ),
  title: (
    null: ($font-4-size, 1.2),
    small: ($font-3-size, 1.2),
    large: ($font-2-size, 1.2)
  ),
  subtitle: (
    null: ($font-5-size, 1.2),
    small: ($font-4-size, 1.2),
    large: ($font-3-size, 1.2)
  )
);

// width for improved legibility of text
$text-max-width: 40em;
